<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <h2 class="card-title">Name: {{person.firstName}} {{person.lastName}}</h2>
                        <p class="card-text"><strong>Age: </strong> {{person.age}} </p>
                        <p class="card-text"><strong>Email: </strong> {{person.email}} </p>
                        <p class="card-text"><strong>Street: </strong> {{person.streetAddress}}</p>
                        <p class="card-text"><strong>City: </strong> {{person.city}} </p>
                        <p class="card-text"><strong>State: </strong> {{person.state}} </p>
                        <p class="card-text"><strong>Zip: </strong> {{person.zip}} </p>
                        <p><strong>Interests: </strong>
                            <span class="badge badge-secondary">WordPress</span>
                            <span class="badge badge-secondary">Weebly</span>
                            <span class="badge badge-secondary">Bootstrap</span>
                            <span class="badge badge-secondary">Wix</span>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <img class="btn-md" [src]="person.photo" alt="" style="border-radius:50%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
